spring:
  application:
    name: catelog-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:15432/postgres}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    open-in-view: false


server:
  port: 8081
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: "*"
